* {
    font-family: 'Roboto';
    position: static;
}

body {
    margin: 0;
    padding: 0;
}


.header-flex-container {
    padding: 20px 0;
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.top {
    width: 60%;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.links {
    border: 1px solid white;
    display: flex;
    gap: 30px;
}

.top-flex-container {
    background-color: #1f2937;
    border: 1px solid red;
    display: flex;
    color: white;
    justify-content: center;
    height: 32vh;
}

.left {
    display: flex;
    border: 1px solid white;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtext {
    width: 300px;
}

.right {
    display: flex;
    border: 1px solid white;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

img {
    width: 420px;
    height: 240px;
}

.information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid orange;
    height: 30vh;
    flex-direction: column;

}

.image-grid-title {
    color: #1f2937;
    display: flex;
    border: 1px solid black;
    font-weight: 1000;
}

.image-grid {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    height: 213px;
    width: 1000px;
    align-items: center;
    gap: 50px;
}

.image-items {
    border: 5px solid #3882f6;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}