* {
    font-family: 'Roboto';
    position: static;
}

body {
    margin: 0;
    padding: 0;
}


.header-flex-container {
    padding: 20px 0;
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.top {
    width: 60%;

    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.links {
    display: flex;
    gap: 30px;
}

.top-flex-container {
    background-color: #1f2937;
    display: flex;
    color: white;
    justify-content: center;
    height: 32vh;
}

.left {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtext {
    width: 300px;
}

.right {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

img {
    width: 420px;
    height: 240px;
}

.information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;

}

.image-grid-title {
    color: #1f2937;
    display: flex;
    font-weight: 1000;
}

.image-grid {
    display: flex;
    justify-content: center;
    height: 213px;
    width: 1000px;
    align-items: center;
    gap: 50px;
}

.image-items {
    border: 5px solid #3882f6;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.quotes-container {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote-item-box {
    display: flex;
    color: #1f2937;
    width: 50vw;
    height: 13vh;
    font-weight: 100;
}

.call-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27vh;
}

.call-box-item {
    display: flex;
    width: 54vw;
    height: 10vh;
    border-radius: 10px;
    background-color: #3882f6;
    justify-content: space-around;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
} 

.butt {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    width: 8vw;
    height: 3vw;
    border-radius: 8px;
}

.footer-container {
    background-color: #1f2937;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
