* {
    font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
}


.header-flex-container {
    padding: 20px 0;
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.top {
    width: 60%;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.links {
    border: 1px solid white;
    display: flex;
    gap: 30px;
}